@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

body
{
  font-family: "Lato", sans-serif;
  overflow-x: auto;
}

.active 
{
  border-bottom: 5px solid #ffc107;
}

nav
{
    margin-bottom: 2vh;
    border-bottom: 1px solid #ffc107;
}

#toggle
{
    margin-bottom: 2vh;
}

.table td
{
    vertical-align: middle;
}

.table tbody tr:hover
{
    background-color: #ffc1072a;
}

.table-responsive
{
    max-height: 75vh;
    overflow: auto;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #161616;
    margin-bottom: 4vh;
} 

thead 
{
    position: sticky;
    top: 0;
    z-index: 10;
}

tr th
{
    color: #ffc107;
}

.coinRank
{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #ffc107;
}

.favoriteButton
{
    color: #dc3545;
}

.favoriteButton:hover, .clickable
{
    cursor: pointer;
}

.fa-github
{
    color: #c2c2c2; 
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.fa-github:hover
{
    cursor: pointer;
    color: #ffffff; 
    box-shadow: 0 0 10px #e4d6ee5d;
}

.jqstooltip
{
    padding: 0!important;
    border: 0!important;
    width: 53.31px;
}

#favoritesError
{
    text-align: center;
    margin-top: 10vh;
}

@media (max-width: 992px)
{
    #currencySelect
    {
        margin-left: 20px;
    }

    .redirect a
    {
        margin-left: 25px;
    }    
}
